<%#= Pulls the code ' <title>Mntr me | <%= yield(:title) . . . from application.hml.erb%>
<% provide(:title, 'AboutYou') %>
<h1>About You</h1>
<p>
This is the Mntr Me page to tell people About You.
</p>