<% provide(:title, 'Do it') %>
<h1>What do you want to do with your life?</h1>
<h2>Profile Setup: Step 1 of 2 </h2>
<p>
	<p>What is a job you want to do for 8 hours a day? </p>
	<p>Who do you want to work with? </p>

	<p>Make a commitment to acheiving this goal by sharing it with a friend or family member. </p>
	<p> Facebook, Linkedin, Email </p>

	<p>
		<%= link_to "Next!", goals_path, class: "btn btn-large btn-primary" %>
	</p>

</p>