<% provide(:title, 'Goals') %>
<h1>jh</h1>
<h2>Profile Setup: Step 2 of 2 </h2>
<p>
	<p>List a task you can do in 30 minutes to get you one step closer towards your desired job? </p>
	<p><%= render 'layouts/goals' %> </p>

	<p><%= link_to "See your profile!", '#', class: "btn btn-large btn-primary" %> </p>

</p>