<%#= the hero-unit CSS class has a special meaning to Bootstrap #%>
<div class="center hero-unit">
	<h1>Sample</h1>
		<p>
		This is the home page for the Sample application.
		</p>

	</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
