<%#= Adding New Occupation, Skills button to header, se omrails, 17:00%>	
<li><%= link_to "Create Occupation", new_occupation_path %></li>

<div id="occupations">
  <%= render @occupations %>
</div>



