<h1>Listing occupations</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render 'occupations/occupation' %>
</table>

<br />

<%= link_to 'New Occupation', new_occupation_path %>
