<h1>Listing Occupations</h1>

<table>
  <tr>
  	<%#= Adding image column, see omrails Paperclip, 15:00 %>
  	<th>Image</th>
  	
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody>
    <%= render @occupations %>
  </tbody> 

</table>

<%= link_to 'New Occupation', new_occupation_path %>
