<h1>Listing skills</h1>

<table>
  <tr>
  	<%#= Adding image column, see omrails Paperclip, 15:00 %>
  	<th>Image</th>
  	
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody>
    <%= render @skills %>
  </tbody> 

</table>

<br />

<%= link_to 'New Skill', new_skill_path %>
