<h1>Listing skills</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody>
    <%= render @skills %>
  </tbody> 

</table>

<br />

<%= link_to 'New Skill', new_skill_path %>
