<h1>Listing goals</h1>

<table>
  <tr>
  	<%#= Adding image column, see omrails Paperclip, 15:00 %>
  	<th>Image</th>

    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody>
    <%= render @goals %>
  </tbody> 

</table>

<br />

<%= link_to 'New Goal', new_goal_path %>
