<p>
  <b>Description:</b>
  <%= @goal.description %>
</p>

<p>
	<%= @skill.user.name %>
</p>	

<% if current_user == @skill.user %>
	<%= link_to 'Edit', edit_goal_path(@goal) %> |
<% end %>	
	<%= link_to 'Back', goals_path %>
