<tr>
  <td><%= attempt.description %></td>
  <td><%= link_to 'Show', attempt %></td>

  <% if current_user == attempt.user %>
	  <td><%= link_to 'Edit', edit_attempt_path(attempt) %></td>
	  <td><%= link_to 'Destroy', attempt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %> 

</tr>