<h1>Listing attempts</h1>

<table>
  <tr>
  	<%#= Adding image column, see omrails Paperclip, 15:00 %>
  	<th>Image</th>
  	
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody>
    <%= render @attempts %>
  </tbody>  

</table>

<br />

<%= link_to 'New Attempt', new_attempt_path %>