<p>
  <b>Description:</b>
  <%= @attempt.description %>
</p>

<p>
	<%= @skill.user.name %>
</p>	

<% if current_user == @attempt.user %>
	<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<% end %>	
	<%= link_to 'Back', attempts_path %>
