<h3>These are the current entry-level occupations that are available with us. </h3>
<%#= ----------- Career 1 as a thumbnail ------------- %>
<ul class="thumbnails">
  <div class="span4">
    <a href="#" class="thumbnail">
      <img src="09.jpg" class="img-rounded" alt="">
      <h4>Minimum Skills Required</h4>
      <p>Skills 1: Sketching.</p>
      <p>Skills 2: Pro-E.</p>
      <p>Skills 3: Graphic Design.</p>
      <p>find me _currentopenings.html.erb</p>
    </a>
  </div>
</ul>

<%#= ----------- Career 2 as a thumbnail ------------- %>
<ul class="thumbnails">
  <div class="span4">
    <a href="#" class="thumbnail">
      <img src="09.jpg" class="img-rounded" alt="">
      <h4>Minimum Skills Required</h4>
      <p>Skills 1: Sketching.</p>
      <p>Skills 2: Pro-E.</p>
      <p>Skills 3: Graphic Design.</p>
      <p>find me _currentopenings.html.erb</p>
    </a>
  </div>
</ul>

<h4> Know someone we should contact?</h4>
<div class="form-actions">
    <button class="btn btn-primary align-center" type="button">Recommend a person to us.</button>
    Or
    <button class="btn btn-primary align-center" type="button">Share our profile with them.</button>
</div>

