      <!--Sidebar content-->
    <h3>Skills Feed</h3>  
      <ul class="nav nav-pills nav-stacked">
			  <li class="active">
			    <a href="#">Subscribed to</a></li>
			  <li><a href="#">My Subscribers</a></li>
			  <li><a href="#">My Companies</a></li>
			</ul>

			<textarea rows="3"></textarea>
