<div class="hero-unit">
	<h5> Goal: Learn how to create a skill.</h5>
	<%= link_to "Start Timer (30:00)", '#', class: "btn btn-small" %> </p>
		<p> Notes </p>

	<form class="navbar-form ">
	  Images/Notes:
	  <input type="text" class="span6" >
	  <button type="submit" class="btn-primary btn-small">Add</button>
	</form>

</div>	