Add a 30 minute Goal
<form class="navbar-form ">
	Goal:
  <input type="text" class="span6" placeholder="Example, do a sketching tutorial on http://www.idsketching.com/" >
  <button type="submit" class="btn-primary btn-small">Add</button>
</form>
