<form class="navbar-form ">
	Goal:
  <input type="text" class="span6">
  <button type="submit" class="btn-primary btn-small">Add</button>
  <%= link_to "Start Timer (30:00)", '#', class: "btn btn-small" %> </p>
</form>