<h3>Although we are not hiring for these positions at the moment. These are other entry-level occupations we provide. </h3>
	<ul class="thumbnails">
  <div class="span4">
    <a href="#" class="thumbnail">
      <img src="09.jpg" class="img-rounded" alt="">
      <h4>Minimum Skills Required</h4>
      <p>Skills 1: Sketching.</p>
      <p>Skills 2: Pro-E.</p>
      <p>Skills 3: Graphic Design.</p>
      <p>find me _currentopenings.html.erb</p>
    </a>
  </div>
</ul>

	