<h3>Here are the people I want to work with.</h3>
<div class="section-actions">
	<img src="dolmen logo.png" class="img-rounded">
	<img src="billliao.jpg" class="img-rounded">
	<img src="The-Arthur-Guinness-Fund-2012.jpg" class="img-rounded">
</div>	

<h4> Know someone I should contact?</h4>
<div class="form-actions">
    <button class="btn btn-primary align-center" type="button">Recommend a person for me.</button>
    Or
    <button class="btn btn-primary align-center" type="button">Share my profile with them.</button>
</div>
