<%#= ----------- These are the skills I am learning ------------- %>	
<h3>These are the skills we look for. </h3>
	<img src="rubyonrails.png" class="img-rounded">
	<img src="growth.png" class="img-rounded">

<%#= ----------- This is the skill I am currently learning ------------- %>
<h3>These are the skills our employees have learned and are learning. </h3>
	<img src="rubyonrails.png" class="img-rounded">


<h4> Don't have all the skills on our list. Recommend a skill we should have!</h4>
<div class="form-actions">
    <button class="btn btn-primary align-center" type="button">Recommend your skills.</button>
</div>