<%#= ----------- This is the skill I am currently learning ------------- %>
<h3>What I am currently learning. </h3>
	<img src="rubyonrails.png" class="img-rounded">

<%#= ----------- These are the skills I am learning ------------- %>	
<h3>What I need to learn. (Reccomended) </h3>
	<img src="rubyonrails.png" class="img-rounded">
	<img src="growth.png" class="img-rounded">

<%#= ----------- These are the skills I have learned ------------- %>
<h3>What I have learned. </h3>
<img src="rubyonrails.png" class="img-rounded">

<h4> Know a skill you think I should learn?</h4>
<div class="form-actions">
    <button class="btn btn-primary align-center" type="button">Recommend a skill.</button>
</div>